.wrapper{
    display: flex;
}

.comments-box{
    width: fit-content;
    border: 1px solid darkred;
    padding: 10px;
}

.chosen-comment-box{
    width: fit-content;
    border: red 1px solid;
    padding: 10px;
}